.error {
  position: absolute;
  top: 20px;
  right: -30px;
  transition: .3s ease-in-out;
  opacity: 0;
}
.error.show-error{
  right: 10px;
  opacity: 1;
}

.logo {
  position: absolute;
  left: 30px;
  font-size: 18px;
  top: 17px
}

@media only screen and (max-width: 600px) {
  .logo {
    text-align: center;
    position: relative;
    left: 0px;
    
  }
}